.btnMenuMobile {
  background-color: #222;
  color: var(--color-bg);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.menuList {
  background-color: var(--color-bg);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 5px;
  padding: 1rem 2rem;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
}
