.authLayout {
  min-height: calc(100vh - 66px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: -2rem 0;
}

.authLayout::before {
  content: '';
  display: block;
  background: url('../../../assets/images/login.jpg') no-repeat center;
  background-size: cover;
}

.form {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

@media (max-width: 800px) {
  .authLayout {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    margin: 2rem 0;
  }
  .authLayout::before {
    display: none;
  }
}
