.order-details {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
}

.order-details-head {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  background-color: var(--gray-color);
  padding: 1rem;
}

.order-details-head ul {
  display: flex;
  justify-content: space-between;
}

.resume {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.resume div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.resume img {
  max-width: 100px;
  border-radius: 5px;
}

.resume li {
  margin-bottom: 0.5rem;
}

.delivery {
  border-top: 1px solid var(--color-primary);
  padding: 1rem 0;
  margin: 0 1rem;
}

.delivery li+li {
  margin-top: 0.5rem;
}

.delivery span {
  font-weight: bold;
}

@media (max-width: 800px) {
  .order-details-head {
    grid-template-columns: 1fr;
  }
}
