.order-details {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  margin: 2rem auto;
}

.order-details-head {
  background-color: var(--gray-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.order-store {
  border-bottom: 1px solid var(--green-color);
  padding: 1rem 0;
  margin: 0 1rem;
}

.order-details-body {
  padding: 1rem;
}

.order-details-body img {
  max-width: 100px;
  display: block;
  border-radius: 5px;
}

.resume {
  /* background-color: lightblue; */
  display: flex;
  gap: 1rem;
}

.resume-list li {
  margin-bottom: 0.5rem;
}

.delivery {
  padding-top: 1rem;
}

.delivery::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--green-color);
  margin-bottom: 1rem;
}

.delivery li {
  margin-top: 0.5rem;
}

.delivery span {
  font-weight: bold;
}
