.order-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  margin: 2rem auto;
}

.order-head {
  background-color: var(--gray-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.order-details-img {
  padding: 1rem;
}

.order-details-img img {
  max-width: 100px;
  display: block;
  border-radius: 5px;
}

.order-info {
  display: flex;
  flex-direction: column;
}

.order-store {
  border-bottom: 1px solid gray;
  padding: 1rem 0;
  margin: 0 1rem;
}

.delivery {
  padding-top: 1rem;
}

.delivery::before {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--green-color);
  margin-bottom: 1rem;
}

.delivery li {
  margin-top: 0.5rem;
}

.delivery span {
  font-weight: bold;
}
