.order-item {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1rem;
}

.order-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-head button {
  background-color: var(--green-color);
  color: var(--bg-color);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  transition: 0.2s;
}

.order-head button:hover {
  box-shadow: 0 0 0 3px lightgreen, 0 0 0 4px var(--green-color);

}

.order-body {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.order-body p {
  padding: 0.5rem 1rem;
  border: 1px solid var(--green-color);
  border-radius: 5px;
}

.order-body span::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--yellow-color);
  margin-right: 5px;
  vertical-align: middle;
}
