.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 460px;
  min-height: calc(100vh - 130px);
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.authLayout {
  min-height: calc(100vh - 66px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: -2rem 0;
}

.authLayout::before {
  content: '';
  display: block;
  background: url('../../../assets/images/login.jpg') no-repeat center;
  background-size: cover;
}

@media (max-width: 800px) {
  .authLayout {
    grid-template-columns: 1fr;
    box-shadow: none;
    padding: 0 1rem;
  }
  .authLayout::before {
    display: none;
  }
}
