.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  gap: 2rem;
}

.price {
  font-weight: 700;
}

@media (max-width: 800px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}
