.btn {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.2rem;
  transition: 0.2s;
}

.btn-primary {
  background-color: var(--green-color);
  color: var(--bg-color);
}

.btn-primary:hover,
.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightgreen, 0 0 0 4px var(--green-color);
}

.btn-secondary {
  background-color: var(--yellow-color);
  color: var(--bg-color);
}

.btn-secondary:hover,
.btn-secondary:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightyellow, 0 0 0 4px var(--yellow-color);
}

.btn-logout {
  background-color: var(--bg-color);
  color: var(--green-color);
  border: 2px solid var(--green-color);
  font-weight: bold;
  transition: 0.3s;
}

.btn-logout:hover,
.btn-logout:focus {
  background-color: var(--green-color);
  color: var(--bg-color);
}

.btn-pagination {
  background-color: var(--gray-color);
  color: #000;
}

.btn-pagination:hover,
.btn-pagination:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--bg-color), 0 0 0 4px #000;
}
