.btn {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.2rem;
  transition: 0.2s;
}

.primary {
  background-color: var(--green-color);
  color: var(--bg-color);
}

.primary:hover,
.primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightgreen, 0 0 0 4px var(--green-color);
}

.secondary {
  background-color: var(--yellow-color);
  color: var(--bg-color);
}

.secondary:hover,
.secondary:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightyellow, 0 0 0 4px var(--yellow-color);
}

.logout {
  background-color: var(--bg-color);
  color: var(--green-color);
  border: 2px solid var(--green-color);
  font-weight: bold;
  transition: 0.3s;
}

.logout:hover,
.logout:focus {
  background-color: var(--green-color);
  color: var(--bg-color);
}

.pagination {
  background-color: var(--gray-color);
  color: #000;
}

.pagination:hover,
.pagination:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--bg-color), 0 0 0 4px #000;
}
