.orders {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation: show-left 0.3s forwards;
}

.search {
  border: 1px solid gray;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.8rem;
  transition: 0.3s;
  margin-bottom: 1rem;
}

.search:hover, 
.search:focus {
  outline: none;
  border: 1px solid var(--green-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
