.order-content {
  border: 1px solid;
  border-radius: 10px;
  padding: 1rem;
}

.order-content-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
}

.order-content-head button {
  background-color: var(--violet-color);
  color: #f4f7fc;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
