.orderItem {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1rem;
  transition: 0.3s;
}

.orderItem:hover {
  transform: scale(1.01);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.orderItem h2 {
  grid-column: 1;
}

.orderItem p {
  grid-column: 1;
}

.orderItem button {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--color-primary);
  color: var(--color-bg);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  transition: 0.2s;
}

.orderItem button:hover {
  box-shadow: 0 0 0 3px lightgreen, 0 0 0 4px var(--color-primary);
}

.orderBody {
  grid-row: 3;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.orderBody p {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.orderBody span::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--color-accent);
  margin-right: 5px;
  vertical-align: middle;
}
