.toast {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadein 0.3s, fadeout 0.3s 2.7s;
}
