.title {
  text-align: center;
}

.checkout {
  display: grid;
  grid-template-columns: 1fr 400px;
  max-width: 1200px;
  gap: 2rem;
  margin: 2rem auto;
}

@media (max-width: 800px) {
  .checkout {
    grid-template-columns: 1fr;
  }
}
