.productCard {
  background-color: var(--bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 300px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

.productCard:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.01);
}

.productCard img {
  display: block;
  width: 100%;
}

.price {
  color: var(--yellow-color);
}

.titleCard {
  margin-bottom: 1rem;
  color: var(--darkgreen-color);
}

.descricao {
  margin-bottom: 1rem;
  color: var(--darkgreen-color);
}

.productInfo {
  padding: 1rem;
}
