.product-card {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  max-width: 300px;
  /* teste: retirar essa borda ou a outra */
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1.0);
}

.product-card img {
  display: block;
  width: 100%;
  /* teste: retirar essa borda ou a outra */
  border-radius: 5px;
}

.price {
  color: var(--yellow-color);
}

.title {
  margin-bottom: 1rem;
  color: var(--blue-color);
}

.descricao {
  /* max-width: 50ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
  margin-bottom: 1rem;
  color: var(--blue-color);
}

.product-info {
  background-color: #fff;
  padding: 1rem;
}
