.product-card {
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  width: 300px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.product-card:hover {
  scale: 1.1;
}

.product-card img {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.price {
  color: chocolate;
}

.title {
  margin-bottom: 1rem;
}
