@import './animations/index.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bg-color: #fafafa;
  --green-color: #007a33;
  --yellow-color: #ee8800;
  --darkgreen-color: #002b12;
  --gray-color: #e0e0e0;
}

body {
  background-color: var(--bg-color);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

input[readonly] {
  background-color: var(--gray-color);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: wait;
  opacity: 0.8;
}

h1 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--green-color);
  font-size: 3rem;
}
