.checkout {
  flex: 1;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkout-default {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--green-color);
  border-radius: 5px;
  padding: 1rem;
}

/* Estilo do select */
.checkout-default select {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  color: var(--green-color);
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  margin-bottom: 1rem;
}

/* Estilo do select ao focar */
.checkout-default select:focus {
  border-color: var(--green-color);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 122, 51, 0.3);
}

/* Estilo das opções */
.checkout-default option {
  padding: 10px;
  font-size: 1rem;
}

/* Estilo da opção desabilitada */
.checkout-default option[disabled] {
  color: gray;
}

/* Estilo para a opção selecionada */
.checkout-default option[selected] {
  background-color: var(--green-color);
  color: white;
}

.checkout-default span {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 800px) {
  .checkout {
    padding: 0 1rem;
  }
}
