.login-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 460px;
  gap: 1rem;
}

.default-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--green-color);
  font-size: 3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 0.4rem;
}

.login-form input {
  border: 1px solid gray;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.8rem;
  transition: 0.3s;
  margin-bottom: 1rem;
}

.login-form input:hover, 
.login-form input:focus {
  outline: none;
  border: 1px solid var(--green-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-signup-form {
  align-self: flex-start;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--green-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-signup-form:hover,
.btn-signup-form:focus {
  outline: none;
  text-decoration: underline;
}
