.login-field {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  gap: 1rem;
  margin: 0 auto;
}

.default-title {
  color: var(--violet-color);
  font-size: 2rem;
  text-align: center;
}
