@keyframes pulse-animation {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  50% {
    opacity: 1.0;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.8);
  }
}

/* @keyframes spin-animation {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg);
  }
} */

.pulse {
  animation: pulse-animation 2.0s infinite ease-in-out;
  /* animation: spin 2.0s linear infinite; */
}
