@keyframes scale-up-animation {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.scaleUp {
  animation: scale-up-animation 0.3s forwards;
}
