.product-detail {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.product-detail img {
  border-radius: 5px;
}

.product-detail-info {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.info-prince {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.info-descricao {
  margin-bottom: 2rem;
}

.info-total {
  margin-bottom: 2rem;
}
