.container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.file {
  margin-bottom: 1rem;
}

.preview {
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.preview::after {
  content: '';
  display: block;
  height: 0px;
  padding-bottom: 100%;
}
