.forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 460px;
  min-height: calc(100vh - 130px);
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
