.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.wrapper {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
  min-width: 300px;
  max-width: 90%;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.nonModalContainer {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.btnClose {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.btnClose:hover {
  color: #000;
}
