.btn-logout {
  color: var(--violet-color);
  border: 2px solid var(--violet-color);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  transition: 0.3s;
}

.btn-logout:hover {
  background-color: var(--violet-color);
  color: var(--bg-color);
}
