.toast {
  max-width: 300px;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background-color: #fff;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 100;
}

.toastHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 0.5rem;
}

.toastBody {
  padding: 0.5rem;
  background-color: #ddd;
}
