.bg {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
}

.logo:hover {
  opacity: 0.9;
}

.btnHeader {
  background-color: var(--color-primary);
  color: var(--color-bg);
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.btnHeader:hover {
  box-shadow: 0 0 0 3px lightgreen, 0 0 0 4px var(--color-primary);
}

@media (max-width: 800px) {
  .bg {
    padding: 0 1rem;
  }
}
