.login-field {
  display: flex;
  flex-direction: column;
  width: 460px;
  gap: 1rem;
  margin: 1rem auto;
}

.login-field button {
  background-color: blueviolet;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-field button:hover {
  opacity: 0.9;
}
