.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 460px;
  min-height: calc(100vh - 130px);
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.authLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  min-height: calc(100vh - 130px);
  gap: 2rem;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 0 auto;
}

.authLayout::before {
  content: '';
  display: block;
  background: url('../../assets/images/login.jpg') no-repeat center;
  background-size: cover;
}

@media (max-width: 800px) {
  .authLayout {
    grid-template-columns: 1fr;
    box-shadow: none;
    padding: 0 1rem;
  }
  .authLayout::before {
    display: none;
  }
}
