.btn-buy {
  background-color: var(--yellow-color);
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.2rem;
  transition: 0.2s;
}

.btn-buy:hover {
  box-shadow: 0 0 0 3px lightyellow, 0 0 0 4px var(--yellow-color);
}

.btn-buy-disabled {
  background-color: var(--yellow-color);
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
  padding: 0.8rem 1.2rem;
  opacity: 0.5;
}
