.container {
  /* min-height: calc(100vh - 130px); */
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 100;
}

.loading {
  margin: auto;
  font-size: 2rem;
  font-weight: bold;

  animation: pulse 2.0s infinite ease-in-out;
  /* animation: spin 2.0s linear infinite; */
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  50% {
    opacity: 1.0;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.8);
  }
}

/* @keyframes spin {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg);
  }
} */
