.request-btn {
  background-color: var(--violet-color);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
}

.request-btn:hover {
  opacity: 0.9;
}
