.sidebar {  
  width: 200px;
  align-self: start;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.sidebar-list a {
  background-color: var(--gray-color);
  color: var(--darkgreen-color);
  display: block;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem;
}

.sidebar-list button {
  width: 100%;
}

.sidebar-list a:hover,
.sidebar-list a.active {
  background-color: var(--green-color);
  color: var(--bg-color);
  font-weight: bold;
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
    width: auto;
    margin-bottom: 2rem;
  }
  .sidebar-list {
    flex-direction: row;
    padding: 0 1rem;
    white-space: nowrap;
    overflow-x: auto;
  }
}
