.sidebar {  
  width: 200px;
  border-radius: 5px;
  align-self: start;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.sidebar-nav a {
  background-color: var(--gray-color);
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar-nav a:hover {
  font-weight: bold;
  background-color: var(--violet-color);
}
