.order-summary {
  min-width: 400px;
  box-shadow: 0 0 5px var(--green-color);
  border-radius: 5px;
  padding: 1rem;
  align-self: flex-start;
}

.summary-item {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  margin-top: 1rem;
}

.summary-item-amount {
  font-weight: bold;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .order-summary {
    min-width: 350px;
    align-self: center;
  }
}
