.container {
  max-width: 1200px;
  min-height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
}

.container img {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.price {
  color: var(--color-accent);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.descricao {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btnControls {
  display: flex;
  gap: 1rem;
}

.btnCancelOrder {
  background-color: var(--color-bg);
  color: var(--color-primary-dark);
  border: 2px solid var(--color-primary-dark);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.8rem 1.2rem;
  transition: 0.3s;
}

.btnCancelOrder:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-bg);
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    padding: 0 1rem;
  }
}
