.user-page-layout {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  gap: 2rem;
  min-height: calc(100vh - 130px);
}

.user-page {
  flex: 1;
}

.user-page h1 {
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .user-page-layout {
    display: block;
  }
  .user-page {
    padding: 0 1rem;
  }
}
