.form {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.signup {
  display: flex;
  flex-direction: column;
  animation: show-left 0.3s forwards;
}

@media (max-width: 800px) {
  .form {
    margin: 0;
  }
}
