.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.wrapper {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .wrapper {
    margin: 0 1rem;
  }
  .wrapper img {
    width: 100%;
  }
}
