.my-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.my-info-card {
  border: 1px solid;
  padding: 1rem;
  border-radius: 5px;
}

.my-info-card span {
  font-weight: bold;
}

.my-info-card p {
  margin: 1rem 0;
}
