* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --violet-color: blueviolet;
  --yellow-color: #ee8800;
  --gray-color: #e0e0e0;
  --red-color: #ee5544;
  --blue-color: #334455;
}

body {
  background-color: #f4f7fc;
}

a {
  text-decoration: none;
  color: inherit;
}

input[readonly] {
  background-color: var(--gray-color);
}

h1 {
  font-size: 2rem;
}

ul {
  list-style: none;
}
