* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: blueviolet;
  --secondary-color: #ee8800;
  --tertiary-color: #e0e0e0;
  --quaternary-color: #ee5544;
  --quinary-color: #334455;
}

body {
  background-color: #f4f7fc;
}

a {
  text-decoration: none;
}

input[readonly] {
  background-color: var(--tertiary-color);
}
