* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bg-color: #fafafa;
  --green-color: #007a33;
  --yellow-color: #ee8800;
  --darkgreen-color: #002b12;
  --gray-color: #e0e0e0;
}

body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

input[readonly] {
  background-color: var(--gray-color);
}

h1 {
  font-size: 2rem;
}

ul {
  list-style: none;
}
