* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bg-color: #fafafa;
  --green-color: #007a33;
  --yellow-color: #ee8800;
  --darkgreen-color: #002b12;
  --gray-color: #e0e0e0;
}

body {
  background-color: var(--bg-color);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

input[readonly] {
  background-color: var(--gray-color);
}

button {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-left {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
