.wrapper {
  display: grid;
}

.skeleton {
  grid-area: 1/1;
  height: 100%;
  background-image: linear-gradient(90deg, #eee 0px, #fff 50%, #eee 100%);
  background-color: #eee;
  background-size: 200%;
  animation: skeleton 1.5s infinite linear;
}

.imgContent {
  display: block;
  grid-area: 1/1;
  max-width: 600px;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}
