.home {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: calc(100vh - 130px);
  margin: 0 auto;
}

.navegacao {
  text-align: center;
  margin-top: auto;
  padding-top: 2rem;
}
