.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: start;
}

@media (max-width: 800px) {
  .productList {
    grid-template-columns: 1fr;
  }
}
