.userInfoPage {
  animation: show-left 0.3s forwards;
}

.userInfoPage h1 {
  margin-bottom: 2rem;
}

.userUpdate {
  max-width: 460px;
  margin: 0 auto;
}

.form {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
