.user-info-page {
  flex: 1;
  animation: show-left 0.3s forwards;
}

.user-info-page h1 {
  margin-bottom: 2rem;
}

.user-update {
  max-width: 460px;
  margin: 0 auto;
}

.update {
  display: flex;
  flex-direction: column;
}

.btn-update {
  background-color: var(--green-color);
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  transition: 0.2s;
}

.btn-update:hover {
  box-shadow: 0 0 0 3px lightgreen, 0 0 0 4px var(--green-color);
}
