.user-info-page {
  flex: 1;
  animation: show-left 0.3s forwards;
}

.user-info-page h1 {
  margin-bottom: 2rem;
}

.user-update {
  max-width: 460px;
  margin: 0 auto;
}

.update {
  display: flex;
  flex-direction: column;
}
